.center
{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

body
{
	font-family: "Courier New";
	font-size:100%;
  	background-color:DeepSkyBlue;
}

	/ table /

.table_menu
{
	background-color:Silver;
}


