@charset "UTF-8";



.center
{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}


body{
   font-family: "Courier New";
   font-size:100%;
}


.footer
{
	width:100%;
	border-collapse: collapse;
}

.footer td
{
	background-color:#00b9aa;
	padding-right:8px;
	color:#ffffff;
	font-size:85%;
	font-weight:bold;
}

.footer td#bar
{
	background-color:#848484;
	height:4px;
}

.footer td
{
	padding-right:6px;
}

.footer td#bar
{
	height:3px;
}

.footer_logo
{
	width:120px;
	height:auto;
}
}
