/* Šî–{Ý’è */
body
{
	background-color:#00bfff;
	
}


.table_update td#railway
{
	background-color:#4682b4;
	color:#ffffff;
	white-space:nowrap;
}


.table_menu a:link
{
	color:#000000;
}

.table_menu a:visited
{
	color:#000000;
}

.table_menu tr#railway
{
	background-color:#ffddbb;
}


.table_menu td
{
	padding-left:16px;
}

.table_menu td#title
{
	font-size:120%;
	white-space:nowrap;
}

.table_menu td#railway
{
	background-color:#ff9400;
	width:4px;
}


.table_menu td#menu
{
	font-size:140%;
	white-space:nowrap;
}

